* {
  font-family: 'Lexend',Helvetica,Arial,Lucida,sans-serif !important;
}

.signin-up-input, .createpost-input {
  border: 2px  solid !important;
  border-color: #526fee !important;
  padding: 0 10px  !important;
  border-radius: 10px !important;
  margin-bottom: 5% !important;
}

.nav-wrapper { 
	background: linear-gradient(-45deg, #526fee, #9a3ce7, #e75975, #ed3d72);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.brand-logo {
  font-weight: 700;
  letter-spacing: 1px;
}

.card {
  border-radius: 10px;
}

.primary-button {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .primary-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
 

.cardheader {
  margin-top: 7%;
  padding: 5% 0 0;
  font-weight: 600;
}

.cardheader-signup, .cardheader-createpost {
  margin: 0 0 5% ;
  padding: 8% 0 3% 0;
  font-weight: 600;
}
.mycard {
  margin: 2% 0;
}

.auth-card {
  text-align: center;
}

.logincard-inputs {
  margin-top: 10%;
  padding: 0 10%;
}

.logincard-right {
  color: #ffffff;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
	background: linear-gradient(-45deg, #526fee, #9a3ce7, #e75975, #ed3d72);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;

}

.logincard-right-text{
  vertical-align: middle;
  padding: 28% 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.signup-card, .createpost-card {
  max-width: 650px;
  margin: 10px auto;
}

.signupcard-inputs, .createpostcard-inputs {
  padding: 0 20% 8%;
}

.profile-image {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  margin: 20px;
}

.profile-top {
  display: flex;
  justify-content: space-around;
  margin: 18px 0px;
  border-bottom: 1px solid grey;
}

.profile-user-details {
  margin: 5%;
}

.profile-counts {
  display: flex;
  justify-content: space-around;
  width: 108%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-image {
  width: 30%;
}

.home-card {
  margin: 26px auto;
}

.home-card-username {
  font-size: 1rem;
  text-align: center;
  padding-top: 2%;
  margin-bottom: 0.8rem;
}

.card-post-date {
  text-align: right;
}

.home-profile-card {
  margin: 26px auto;
  text-align: center;
  padding: 15% 15% 10% 15%;
}

.home-profile-image {
  width: 100%;
  border-radius: 100%;
}

.heart-icon {
  font-size: 2rem; 
  color: #ec4949;
}

.file-input-btn {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.file-input-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.fileupload-section {
  margin-bottom: 3rem;
}

.waring-toast {
  background-color: #ff3841;
}

.success-toast {
  background-image: linear-gradient(to right,#9b3ce5d1,#6473f7e3);
}

.logout-btn {
  background-color: #ff3841;
  border-radius: 10px;
  margin-left: 20px;
}

.logout-btn:hover {
  background-color: #e94951;
}